@model List<PokemonModel>
@{
    ViewData["Title"] = "Pokemons";
}
<div class="row gap-2">
@foreach(PokemonModel pokemon in Model){
    <div class="mb-3 border col p-1">
        <h5>@pokemon.Name</h5><br />
        <img src="@pokemon.ImageUrl" class="card-img-top"/>
        <p class="mt-3 rounded text-center" style="background-color: @pokemon.Color; color: white">@pokemon.Power</p>
         <p class="fw-bolder mt-3"> Owner: @pokemon.Owner</p>
    </div>
}
</div>